*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;}

    body{
        /* display: flex; */
        width: 1300px;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f2f2f2;  
 
    }
    i {
    font-size: 30px;
    color: blue;
    margin: 10px;
}
.container{
   width: 100%;
   height: 80px;
   background-color: #36454F;
   display: flex;
   /* border-radius: 10px; */
}
.container ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
.cards{
    display: flex;
    width: 1300px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: url(https://images.unsplash.com/photo-1695561324569-5e47c76dc0a3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FzJTIwc3RhdGlvbnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}
.boxes{
    width: 200px;
    height: 150px;
    background-color: #36454F;
    color: #fff;
    text-align: center;
    line-height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.gallery{
    /* display: flex; */
    width: 1300px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}
.img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
    .connect{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }
