*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.container{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 50px auto;
}
.btns{
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}